<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projeto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Adicionar Usuário</h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="/home" class="btn btn-dark">Home</a>
        </div>
        <div class="col-md-9"></div>
        <div class="col-md-1">
            <form th:action="@{/logout}" method="post" >
                <button type="submit" class="btn btn-dark">Sair</button>
            </form>
        </div>
    </div>
    <hr/>
    <div>
        <form th:action="${usuario.id} == null ? @{/usuarios/salvar} : @{/usuarios/atualizar}" method="post" th:object="${usuario}">
            <div class="row">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group col-md-12">
                    <label for="nome">Nome</label>
                    <input class="form-control" id="nome" type="text" th:field="*{nome}">
                    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="sobrenome">Sobrenome</label>
                    <input class="form-control" id="sobrenome" type="text" th:field="*{sobrenome}">
                    <div th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}"></div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" type="email" th:field="*{email}">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-11"></div>
                <div class="col-md-1"><button type="submit" class="btn btn-dark">Enviar</button></div>
            </div>
        </form>
    </div>
    <hr/>
    <div class="footer">
        2022 | Thiago Ferreira
    </div>
    </div>
</div>
</div>
</body>
</html>